body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
    background-image: url(./cboard.jpg);
  }

br {
  font-size: 5px;
  vertical-align: 1px;
   }

p {
  font-size: 18px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Gill Sans", sans-serif;
}

.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}

#about {
  font: 24px Monaco;
  color: #51A8C9;
}
